<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930396968501-ir1m7ge4nf4ref4cst8ilai55k2h4kv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930396968501-ir1m7ge4nf4ref4cst8ilai55k2h4kv1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930396968501-avmd12htt4216pkvughhr2nqg4nl3k36.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC18cot1kyLi_G3XNGXV57Ll_x0wbg2Ttg</string>
	<key>GCM_SENDER_ID</key>
	<string>930396968501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyApp</string>
	<key>PROJECT_ID</key>
	<string>chatsapp-7a080</string>
	<key>STORAGE_BUCKET</key>
	<string>chatsapp-7a080.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930396968501:ios:2dcea97f81a70b3427437c</string>
</dict>
</plist>